.app {
  font-family: sans-serif;
  text-align: center;
}

/* Answer Section */

.answer-section {
  color: black;
  border: 5px;
}

.answer-list {
  cursor: pointer;
  list-style-type: upper-alpha;
  border: 1px solid white;
  margin-top: 2px;
  margin-left: 25px;
  margin-right: 25px;
}

.correct-incorrect-message {
  font-style: italic;
  font-size: small;
}

.feedback-and-button {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-right: 25px;
  align-items: center;
}

.answer-list.correct-answer {
  border-color: green;
}

.answer-list.incorrect-answer {
  border-color: red;
  text-decoration: line-through;
  text-decoration-color: black;
}

/* buttons */

button {
  outline: none;
  background-color: white;
  border: 1px solid black;
  padding: 5px;
  cursor: pointer;
}

button.next-question {
  width: 50%;
}

.summary-buttons {
  display: flex;
  justify-content: space-evenly;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 25px;
}

.summary-buttons button {
  border: 1px solid black;
  padding: 5px;
  flex: 1;
}

/* using last-type-of keeps things centered in our flex*/
.summary-buttons button:not(:last-of-type) {
  margin-right: 25px;
}
