.app {
  font-family: sans-serif;
  text-align: center;
}

/* Answer Section */

.answer-section {
  color: black;
  border: 5px;
}

.answer-list{
  list-style-type: upper-alpha;
  border: 1px solid white;
  margin-top: 2px;
  margin-left: 25px;
  margin-right: 25px;
}

.correct-incorrect-message{
  font-style: italic;
  font-size: small;
  margin-bottom: -10px;
}


/* buttons */

.next-question{
  border: 1px solid black;
  margin-left: 100px;
  margin-right: 100px;
  padding: 5px
}

.summary-buttons{
  display: flex;
  justify-content: space-evenly;
}

.next-quiz-button{
  border: 1px solid black;
  margin-left: 20px;
  margin-right: 20px;
  padding: 5px
}

.retake-quiz-button{
  border: 1px solid black;
  margin-left: 20px;
  margin-right: 20px;
  padding: 5px
}